<!-- <nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex items-center">
          <button (click)="toggleSidebar()" class="p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500 lg:hidden">
            <i class="pi pi-bars"></i>
          </button>
          <div class="ml-4 flex flex-col items-center">
            <span class="text-lg font-semibold text-gray-800">Hello Robert 👋</span>
            <span class="text-sm text-gray-500 mr-10">Good Morning</span>
          </div>
        </div>
        <div class="flex items-center">
          <div class="ml-4 flex items-center md:ml-6">
            <button class="p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                <i class="pi pi-search"></i>
            </button>
            <input type="text" placeholder="Search" class="px-4 ml-6 py-2 border border-gray-300 rounded-lg focus:outline-none">
            <button class="ml-3 p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
              <i class="pi pi-bell"></i>
            </button>
            <div class="ml-3 relative">
            <div class="flex items-center space-x-2">
                <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="User" class="w-8 h-8 rounded-full">
                <span class="text-gray-700">Robert Allen</span>
                <i class="pi pi-angle-down text-gray-700"></i>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
   -->

  <!-- <div class="bg-white shadow p-4 flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <button class="md:hidden" (click)="toggleSidebar()">
        <i class="pi pi-bars text-gray-700"></i>
      </button>
      <span class="font-semibold text-xl text-gray-700">HRMS</span>
    </div>
    <div class="flex items-center space-x-4">
      <input type="text" placeholder="Search" class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none">
      <i class="pi pi-bell text-gray-700"></i>
      <div class="flex items-center space-x-2">
        <img src="/profile.jpg" alt="User" class="w-8 h-8 rounded-full">
        <span class="text-gray-700">Robert Allen</span>
        <i class="pi pi-angle-down text-gray-700"></i>
      </div>
    </div>
  </div> -->
  
