<div class="flex flex-col md:flex-row h-screen">
    <!-- Left Side (Dashboard Image and Sidebar) -->
    <div class="hidden md:flex lg:w-2/4 bg-purple-100 relative items-center justify-end m-6 md:m-10 rounded-3xl">
        <img src="/dashboardimg.png" alt="Dashboard" class="rounded-3xl absolute opacity-80 h-height-600 w-width-520 pt-14 pb-14">
    </div>  
  
    <!-- Right Side (Login Form) -->
    <div class="flex flex-col lg:justify-center md:justify-center  w-full h-screen md:w-1/2 lg:w-1/3 p-6 md:p-12 bg-white">
      <div class="flex items-center mb-6">
        <img src="/logo.png" alt="Logo" class="w-12 h-12 mr-4">
        <h1 class="text-3xl font-bold text-gray-800">HRMS</h1>
      </div>
      <h2 class="text-xl font-semibold mb-4">Welcome 👋</h2>
      <p class="text-gray-500 mb-8">Please login here</p>
      <form>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="email">Email Address</label>
          <input type="email" id="email" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-purple-500 focus:border-purple-500">
        </div>
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700" for="password">Password</label>
          <input type="password" id="password" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-purple-500 focus:border-purple-500">
        </div>
        <div class="flex items-center justify-between mb-6">
          <div>
            <input type="checkbox" id="remember" class="text-purple-600">
            <label for="remember" class="ml-2 text-sm text-gray-600">Remember Me</label>
          </div>
          <a routerLink="/forgot-password" class="text-sm text-purple-600 hover:underline">Forgot Password?</a>
        </div>
        <button routerLink="/home" class="w-full py-2 px-4 bg-purple-600 text-white rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">Login</button>
      </form>
    </div>
  </div>
  